<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Itinerario -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ItinerarioDiagram.presentation.ItinerarioDiagramModelWizardID"
            name="%_UI_ItinerarioDiagramModelWizard_label"
            class="ItinerarioDiagram.presentation.ItinerarioDiagramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ItinerarioDiagramModelFile.gif">
         <description>%_UI_ItinerarioDiagramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Itinerario -->
      <editor
            id="ItinerarioDiagram.presentation.ItinerarioDiagramEditorID"
            name="%_UI_ItinerarioDiagramEditor_label"
            icon="icons/full/obj16/ItinerarioDiagramModelFile.gif"
            extensions="itinerariodiagram"
            class="ItinerarioDiagram.presentation.ItinerarioDiagramEditor"
            contributorClass="ItinerarioDiagram.presentation.ItinerarioDiagramActionBarContributor">
      </editor>
   </extension>

</plugin>
